<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <form action="/sessions" method="post">
      <div>
        <label for="email"> Email registrado</label>
        <input type="email" id="email" name="email" />
      </div>
      <div>
        <label for="password"> Contraseña</label>
        <input type="password" id="password" name="password" />
      </div>
      <button type="submit">Ingresar</button>
    </form>
    <button
      onclick="location.href='/users/signIn'"
      class="btn btn-primary"
    >CREAR USUARIO</button>
  </body>
</html>