<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <form action="">
      <div>
        <label for="Nombre"> Nombre de Usuario</label>
        <input type="text" id="Nombre" name="nombre" />
      </div>
      <div>
        <label for="Password"> Contraseña</label>
        <input type="password" id="Password" name="password" />
      </div>
      <button type="submit">Ingresar</button>
    </form>
  </body>
</html>