<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">NOMBRE DE LA MARCA</a>
    <form class="d-flex mt-2" role="search">
      <input
        class="form-control me-2 mt-2"
        type="search"
        placeholder="Búsqueda"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Búsqueda</button>
    </form>
  </div>
</nav>