<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Ocurrio un error de usuario o contraseña. Intenta nuevamente</h1>
  </body>
</html>