<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Ocurrio un error. Intenta nuevamente</h1>
    <button
      onclick="location.href='/sessions/logout'"
      class="btn btn-danger"
    >LOGOUT</button>
    <button
      onclick="location.href='/sessions'"
      class="btn btn-danger"
    >LOGOUT</button>
  </body>
</html>