<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Ocurrió un error de registro. Intentalo nuevamente.</h1>
    <button
      onclick="location.href='/users/signIn'"
      class="btn btn-primary"
    >CREAR USUARIO</button>
    <button
      onclick="location.href='/sessions'"
      class="btn btn-primary"
    >LOGUEARSE</button>
  </body>
</html>