<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <form id="registration-form" action="/users" method="post">
      <div class="mb-3">
        <label for="first_name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Edad</label>
        <input
          type="number"
          class="form-control"
          id="age"
          name="age"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Crear Usuario</button>
    </form>
    <button onclick="location.href='/sessions'" class="btn btn-primary">SI YA
      TENES USUARIO LOGUEATE ACÁ</button>
  </body>
</html>